# Uploaded files
public/uploads

# Misc files
.DS_Store
Thumbs.db
*.nova
*.sublime-workspace
*.sublime-project
*.vscode

# Craft Environment Configs
.env

# Logs
*.log

# Dependency directories
/node_modules
/vendor

# Locally compiled CSS/JS
public/assets
mix-manifest.json
