@tailwind base;

// Reset Styles
h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote {
  // @apply mb-5;
}

h1 {
  // @apply
  //   font-black
  //   text-2xl;
}

h2 {
  // @apply
  //   font-bold
  //   text-xl;
}

h3 {
  // @apply text-lg;
}

h4 {
  // @apply text-base;
}

h5 {
  // @apply
  //   font-bold
  //   text-sm;
}

h6 {
  // @apply text-sm;
}

a {
  // @apply text-blue-300;

  &:focus,
  &:hover {
    // @apply
    //   text-blue-500
    //   underline;
  }
}


@tailwind components;

/*! purgecss start ignore */

// @import 'your/stuff';
// @import 'your/things';

@import 'button';

/*! purgecss end ignore */

@tailwind utilities;
