<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="utf-8">
	<meta name="robots" content="index,follow">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	{% include '_partials/favicons' %}
</head>

<body>

{% include '_partials/nav' %}

{% block content %}{% endblock %}

{# Adds JS and CSS processed with Vite #}
{# ? https://nystudio107.com/docs/vite/#the-script-function #}
{# The false argument here disables async CSS to prevent FOUT #}
{{ craft.vite.script('src/js/app.js', false) }}

</body>
</html>
